YoloLensv8/
models/
help/
test/
script/
.idea/
__pycache__/
*.onnx
*.pt
token.json
README.txt
modelNetA_modified.py
inject_IoU_filtering.py
export_to_onxx.py
craters_util.py
pb_tool.cfg
plugin_upload.py
pylintrc

